@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

@font-face {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

html {
    height: auto;
}

.info img {
    position: absolute;
    width: 20%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}


/* Logo UCP */
.ucp-logo {
    width: 60px;
    height: 60px;
    margin-right: 10px;
}

.title-gtastreet {
    text-align: center;
    font-weight: bold;
}



/* NAVBAR */

#title {
    font-family: "Radwave Demo", sans-serif;
    font-size: 35px;
    padding-right: 85px;
}

.navbar {
    background-image: linear-gradient(#060222, #00000000);
    opacity: 90%;
    height: 75px;
    transition: all 1s ease-in-out;
    /* Hiệu ứng mượt */
}

.navbar.shadow {
    background-color: #000000;
    background-image: none;
    transition: all 1s ease-in-out;
    opacity: 1;
}


.nav-link {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin: 15px;
    color: #fff !important;
    font-weight: 700;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
}

.nav-link:hover {
    color: rgb(153, 153, 153);
}

#discord {
    font-family: 'Radwave Demo', sans-serif;
    border: solid 4px white;
    margin-top: 5px;
    padding: 13px 35px;
    border-radius: 100px;
    transition: ease-in-out 0.2s;
}

#discord:hover {
    color: rgb(214, 214, 214);
    border: solid 4px rgb(214, 214, 214);
    transition: ease-in-out 0.2s;
}

#button_green {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 5px;
    height: 12px;
}

/* Acceuil */

#background {
    height: 100vh;
    width: 100%;
    background-color: #000;
    /* Màu nền tạm thời */
    background-size: cover;
    background-position: center;
}

.info h1 {
    margin-top: 40%;
    transform: translateY(-15%);
}

.info h1 {
    font-family: 'Radwave Demo', sans-serif;
    color: #fff;
    font-size: 60px;
}

.info p {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    letter-spacing: 1px;
    text-shadow:
        -1px -1px 0 #000,
        /* Viền trên trái */
        1px -1px 0 #000,
        /* Viền trên phải */
        -1px 1px 0 #000,
        /* Viền dưới trái */
        1px 1px 0 #000;
    /* Viền dưới phải */
}

.info a {
    margin-left: 50%;
    transform: translateX(-50%);
    color: rgb(24, 24, 24);
    font-family: 'Open Sans', sans-serif;
    background: #fff;
    border-radius: 100px;
    padding: 15px 70px;

}

.info a:hover {
    background: rgb(214, 214, 214);
}


/* Info 2 */

#info2 {
    background: #15397C;
    padding: 3%;
    text-align: center;
    color: #fff;
}

#info2 .svg-inline--fa {
    font-size: 70px;
    margin: 20px;
}

#info2 h2 {
    font-family: "Kanit", sans-serif;
    margin: 20px;
}

#info2 p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

#info2 .col-md-4 {
    margin: 0 px;
}


/* About */

#about .row,
h3 {
    font-family: 'Radwave Demo', sans-serif;
    font-size: 35px;
    margin: 10% 0%;
}

#about .row,
p {
    font-size: 20px;
    font-weight: 400;
}

.logo-bird {
    height: 90%;
}


/* Score */

#score {
    background: #15397C;
    padding: 3%;
}

#score {
    background: #15397C;
    padding: 3%;
    text-align: center;
    color: #fff;
}

#score .svg-inline--fa {
    font-size: 70px;
    margin: 20px;
}

#score h2 {
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    margin: 20px;
}

#score p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

#score .col-md-4 {
    margin: 0 px;
}


/* Galerie */

#galerie h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    font-weight: bold;
    margin: 50px 0;
}

#galerie .item {
    transition: .5s ease-in-out;
}

#galerie .item:hover {
    filter: brightness(50%);
}

/* Team */

#team {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    /* Không cho phép xuống hàng */
    gap: 30px;
    /* Khoảng cách giữa các thành viên */
}

#team .col-md-4 {
    text-align: center;
    flex: 0 0 auto;
    /* Đảm bảo kích thước cố định */
}

#team h1 {
    text-align: center;
    font-family: 'Radwave Demo', sans-serif;
    font-size: 50px;
    margin: 10% 0 5% 0;
}

#team img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 200px;
    cursor: pointer;
    transition: all ease-in-out .2s;
    border-radius: 100%;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.534);
}

#team img:hover {
    transform: translateY(-5%);
}

#team h4,
#team p {
    text-align: center;
}

#team h4 {
    font-family: 'Radwave Demo', sans-serif;
    margin: 40px 0 5px 0;
}

#team p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
}

/* Footer */

footer {
    height: 50px;
    background: #15397C;
    margin-top: 50px;
}

footer p {
    color: #fff;
    text-align: center;
    padding-top: 15px;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

footer a {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}

footer a:hover {
    color: #fff;
}

/* Media */

@media (max-width: 990px) {
    .navbar {
        background-color: #060222;
        height: auto;
        opacity: 100%;
    }

    .logo-bird {
        height: 375px;
    }

    .info img {
        position: absolute;
        width: 300px;
        height: auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        object-fit: cover;
    }

    .info h1 {
        font-size: 40px;
    }

    .info p {
        font-size: 15px;
        width: 50%;
        margin: auto;
        margin-bottom: 50px;
    }

    .info a {
        font-size: 11px;
    }

    .ucp-logo {
        display: none;
    }
}